<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-title>Recent Teams</ion-card-title>
    <ion-card-content *ngIf="teams && teams.length > 0">
      <ion-list>
        <button ion-item *ngFor="let team of teams" (click)="itemTapped($event, team)">
          <ion-item>
            {{team.name}}
          </ion-item>
        </button>
      </ion-list>

      <button ion-button (click)="addTeam()">
        Add New
      </button>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Upcoming Outings</ion-card-title>
    <ion-card-content>
      <ion-list>
        <button ion-item *ngFor="let outing of outings" (click)="itemTapped($event, outing)">
          <div>
            {{outing.scheduledTime | date}}
          </div>
          <div>
            {{outing.courseName}}
          </div>
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
