<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Recent Teams</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <div *ngIf="teams && teams.length > 0">
      <ion-list>

          <button ion-item
                  *ngFor="let team of teams"
                  (click)="toggleExpansion(team)">
              {{team.name}} has {{team.members.length}} members
            <expanded-team [expanded]="team.expanded"
                           [expandHeight]="46 * team.members.length">
              <ion-list>
                <button ion-item *ngFor="let member of team.members">
                  {{member.displayName}}
                </button>
              </ion-list>
            </expanded-team>
          </button>

      </ion-list>

    </div>

  <button ion-button (click)="addTeam()">
    Add New
  </button>


  <ion-card>
    <ion-card-title>Upcoming Outings</ion-card-title>
    <ion-card-content>
      <ion-list>
        <button ion-item *ngFor="let outing of outings" (click)="itemTapped($event, outing)">
          <div>
            {{outing.scheduledTime | date}}
          </div>
          <div>
            {{outing.courseName}}
          </div>
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
